{% extends 'movieapp/base.html' %}

{% load static %}

    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'movieapp/add_post_style.css' %}">
    {% endblock extra_css %}{% block content %}
<div class="new-post">
    <h1 class="new-post-header">New Post</h1>
    <div new-post-form>
        {% if user.is_authenticated %}
            <form action="{% url 'add_post' %}" method="POST">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <!-- <br><br>

                <label for="caption">Title</label>
                <input type="text" name="caption">
                <br><br>

                <label for="content">Content</label>
                <br>
                
                <textarea name="content">Enter your message here</textarea>
                <br><br>

                <button type="submit">Post</button>
                <button type="reset">Reset</button> -->
                <button type="submit">Post</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}  