<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>FilmMedia</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'movieapp/base_style.css' %}">
        {% block extra_css %}
        {% endblock %}
    </head>
    <body>
        <div class="navbar">
               <div class="nav-header">
                <a href="{% url 'home' %}">
                <img src="{% static 'movieapp/images/FilmMediaLogo.png' %}" alt="Logo" class="logo">
                <h1 class="title">FilmMedia</h1>
                </a>
               </div> 
               <div class="nav-icon">
                    <a class="nav-home-icon" href="{% url 'home' %}">Home</a>
                    <a class="nav-register-icon" href="{% url 'register' %}">Register</a>
                    <a class="nav-login-icon" href="{% url 'login' %}">Login</a>
                    <a class="nav-logout-icon" href="{% url 'logout' %}">Logout</a>

               </div>
        </div>
        <div class="notification">
            {% if messages %}
            <div class="messages">
                {% if messages %}
                    {% for message in messages %}
                    <p class="{{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            {% endif %}
        </div>
        {% block content %}{% endblock  %}
    </body>
</html>