<!DOCTYPE html>
<html>
    {% extends 'movieapp/base.html' %}
    <head>
    </head>
    {% load static %}

    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'movieapp/home_style.css' %}">
    {% endblock extra_css %}
    
    <body>
        {% block content %}
        <br><br>
        {% if posts %}
            {% for post in posts %}
                <ul>
                        <li><a href="{% url 'individual_post' post.id %}">{{post.caption}}</a></li>
                        <li>{{post.created}}</li>
                        
                </ul>
            {% endfor %}
        {% endif %}
        {% endblock content %}


        
    </body>
</html>