<!DOCTYPE html>
<html>
<head>
    {% extends 'movieapp/base.html' %}
    {% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'movieapp/home_style.css' %}">
    {% endblock extra_css %}
</head>
<body>
    {% block content %}
    <br><br>
    <div class="container">
        <div class="row">
            {% if posts %}
            <div class="post-list">
                {% for post in posts %}
                  <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="post-item">
                      <img src="{{ post.images.url }}" alt="movie" class="post-image img-fluid">
                      <div class="post-details">
                        <h2 class="post-caption"><a href="{% url 'individual_post' post.id %}">{{ post.caption }}</a></h2>
                        <p class="post-date">{{ post.created }}</p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
        </div>
    </div>
    {% endblock content %}
</body>
</html>
