body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #EFEA7C;
}

.navbar-brand .title {
    margin-left: 10px;
}

.logo {
    height: 50px;
    width: 50px;
    margin-top: 5%;
    margin-right: 10px;
    border-radius: 50px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.notification {
    position: relative;
    margin: 1em 0;
    padding: 1em;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.messages {
    margin-bottom: 0.5em;
}

.messages p {
    margin: 0;
}



@media (max-width: 768px) {
    .navbar {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .navbar-brand .title {
        margin-left: 0;
    }
    .logo {
        margin-top: 3%;
    }
}

@media (max-width: 576px) {
    .logo {
        height: 40px;
        width: 40px;
    }
}
